*
:root{
--azul-marinho: #205781;
--turquesa: #4f959d;
--verde-agua: #98D2C0;
--bege: #f6f8d5;

}

{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #205781; 
    color: #f6f8d5; 
}

.logo h1 {
    font-size: 2em;

}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #4f959d;
    font-size: 1em;
    width: 200px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f6f8d5; 
    font-size: 1.2em;
}


.content {
    padding: 20px;
    margin-top: 30px;
}

.discipline-content {
    display: none;
}

.discipline-content.active {
    display: block;
}

.discipline-content ul {
    list-style: none;
    padding-left: 20px;
}

.discipline-content ul li {
    margin: 5px 0;
}

