
:root {
    --cor-primaria: #493d9e;
    --cor-secundaria: #a5ffda;
    --cor-terciaria: #fffff2;
    --cor-quaternaria: #af2f2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.logo h1 {
    font-size: 1.8em;
}

.search input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--cor-quaternaria);
    font-size: 1em;
}


.menu-list {
    display: flex;
    list-style: none;
}

.menu-list li {
    margin-left: 20px;
}

.menu-list a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.2em;
}


.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.material-icons {
    font-size: 2rem;
    color: var(--cor-secundaria);
}


.second-menu ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.second-menu ul li {
    margin-left: 20px;
}

.second-menu ul li a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 1.2em;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--cor-primaria);
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .menu-list li {
        margin: 10px 0;
    }

    .menu-list.active {
        display: flex;
    }
}


